@model MyOwnLogin.Core.ViewModels.LoginVm

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var loginInput = $('#Login');
        var color = loginInput.css('background-color');
        loginInput.keyup(function (e) {
            $.ajax({
                url: '@Url.Action("IsAccountExists", "Login")',
                type: 'GET',
                data: { login: loginInput.val() },
                success: function (result) {
                    if (result === true) {
                        loginInput.css('background-color', 'green');
                    }
                    else {
                        loginInput.css('background-color', color);
                    }
                }
            })
        })
    });
</script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(s => s.ReturnUrl)
    <h1>Login to site</h1>
    <div>
        <p>
            @Html.TextBoxFor(s => s.Login)
            @Html.ValidationMessageFor(s => s.Login)
        </p>
        <p>
            @Html.PasswordFor(s => s.Password)
            @Html.ValidationMessageFor(s => s.Password)
        </p>
        <p>@Html.ValidationMessage("SigninError")</p>
        <input type="submit" value="Sign In" />
    </div>
}